@use "./tokens" as tokens;

.Bar {
    border: none;
    box-shadow: none;
    min-width: 100px;
    
}

.bar__inner {
    // background: transparent;
    padding: tokens.$space-xs;
    margin: 4px;
}
