.Bar {
    border: none;
    box-shadow: none;
    min-width: 100px;
    
}

.bar__inner {
    // background: transparent;
    padding: 16px;
    margin: 5px;
    margin-top: 2px;
    font-family: "Sk-Modernist";
}
