.Bar {
    border: none;
    box-shadow: none;
    min-width: 100px;
    margin-top: 6px;
    padding: 0;
}

.bar__inner {
    margin: 0;
    padding: 0;
}

.bar__row {
    margin: 0;
    padding: 0;
}

.bar__column {
    margin: 0;
    padding: 0;
}
