@use "../../styles/tokens" as tokens;

.clock__time {
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0.2px;
    margin-top: tokens.$space-lg;
    margin-bottom: tokens.$space-sm;
    font-family: "Merchant";
}
