@use "../../styles/tokens" as tokens;

.tile--clock {
    padding: 0
}

.clock__row {
    padding: 0;
}

.clock__row--top,
.clock__row--bottom {
    padding-left: tokens.$space-sm;
    padding-right: tokens.$space-sm;
}

.clock__row--top {
    padding-top: tokens.$space-sm;
}

.clock__row--bottom {
    padding-bottom: tokens.$space-sm;
}

.clock__row--time {
    // min-height: 14px;
}

.clock__icon {
    color: tokens.$gb-light-fg;
    
}

.clock__icon--top {
    
}

.clock__icon--bottom {
    
}

.clock__time {
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0.2px;
    font-family: "Merchant";
}
