@use "../../styles/tokens" as tokens;

.date__decorative {
    padding-left: tokens.$space-xs;
    padding-right: tokens.$space-xs;
}

.date__icon {
    min-width: 12px;
    min-height: 12px;
    opacity: 0.65;
}

.date__icon--left {
    color: tokens.$gb-yellow;
}

.date__icon--right {
    color: tokens.$gb-blue;
}

.date__day {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.4px;
    font-family: "Merchant";
}

.date__full {
    opacity: 0.85;
    //font-family: "Merchant";
}

.date__part {
    font-size: 12px;
    letter-spacing: 0.6px;
}

.date__month {
    color: tokens.$gb-orange;
}
