@use "../../styles/tokens" as tokens;

.date__day {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.4px;
    font-family: "Merchant";
}

.date__full {
    opacity: 0.85;
    //font-family: "Merchant";
}

.date__part {
    font-size: 12px;
    letter-spacing: 0.6px;
}

.date__month {
    color: tokens.$gb-orange;
}
