@use "../../styles/tokens" as tokens;

.date__day {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.4px;
    margin-top: tokens.$space-lg;
}

.date__full {
    font-size: 12px;
    letter-spacing: 0.6px;
    margin-bottom: tokens.$space-md;
    opacity: 0.85;
}
