@use "../../styles/tokens" as tokens;

.tile--power-actions {
    padding: tokens.$space-sm;
}

.power-actions__content {
    margin: 0;
}

.power-actions__row {
    min-height: 24px;
}

.power-actions__button {
    min-width: 30px;
    min-height: 30px;
    padding: 0;
    margin: 0;
    border: 2px solid transparent;
    border-radius: 7px;
    background-image: none;
    background-color: tokens.$gb-bg;
    color: tokens.$gb-fg;
    box-shadow: none;
    text-shadow: none;
    -gtk-icon-shadow: none;
}

.power-actions__button:hover {
    background-image: none;
    background-color: tokens.$gb-bg-soft;
}

.power-actions__button:active,
.power-actions__button:checked {
    background-image: none;
    background-color: tokens.$gb-selection;
}

.power-actions__button:disabled {
    background-image: none;
    opacity: 0.55;
}

.power-actions__button > button {
    border-radius: 7px;
    border: 2px solid transparent;
    background-image: none;
    background-color: tokens.$gb-bg;
    color: tokens.$gb-fg;
    box-shadow: none;
    text-shadow: none;
    -gtk-icon-shadow: none;
}

.power-actions__button > button:hover {
    background-image: none;
    background-color: tokens.$gb-bg-soft;
}

.power-actions__button > button:active,
.power-actions__button > button:checked {
    background-image: none;
    background-color: tokens.$gb-selection;
}

.power-actions__icon {
    min-width: 16px;
    min-height: 16px;
}

.power-actions__button--lock {
    color: tokens.$gb-green;
}

.power-actions__button--logout {
    color: tokens.$gb-orange;
}

.power-actions__button--shutdown {
    color: tokens.$gb-red;
}

.power-actions__button--restart {
    color: tokens.$gb-yellow;
}

.power-actions__button--sleep {
    color: tokens.$gb-blue;
}
