@use "../../styles/tokens" as tokens;

.tile--battery {
    border-radius: 18px;
}

.battery__cells {
    margin-top: 2px;
    margin-bottom: 2px;
}

.battery__cell {
    min-width: 12px;
    min-height: 22px;
    border-radius: 3px;
    background-color: tokens.$gb-bg;
    border: 2px solid tokens.$gb-bg-hard;
}

.battery__cell--active {
    background-color: tokens.$gb-green;
    border-color: tokens.$gb-green;
}

.battery__cell--warning {
    background-color: tokens.$gb-yellow;
    border-color: tokens.$gb-yellow;
}

.battery__cell--inactive {
    background-color: tokens.$gb-bg;
    border-color: tokens.$gb-bg-hard;
}

.battery__glyph {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.4px;
    margin-top: 1px;
}
