@use "../../styles/tokens" as tokens;

.tile--battery {
    border-radius: 18px;
    padding: 6px;
}

.battery__cells {
    margin-top: 1px;
    margin-bottom: 1px;
}

.battery__cell {
    min-width: 13px;
    min-height: 32px;
    border-radius: 4px;
    border: 1px solid rgba(tokens.$gb-bg-hard, 0.18);
    background-color: tokens.$gb-light-bg;
}

.battery__cell--active {
    background-color: tokens.$gb-green;
    border-color: tokens.$gb-green;
    box-shadow:
        inset 0 1px 2px rgba(tokens.$gb-light-bg, 0.34),
        inset 0 0 5px rgba(tokens.$gb-light-bg, 0.2),
        inset 0 0 6px rgba(tokens.$gb-green, 0.28);
}

.battery__cell--warning {
    background-color: tokens.$gb-yellow;
    border-color: tokens.$gb-yellow;
    box-shadow:
        inset 0 1px 2px rgba(tokens.$gb-light-bg, 0.3),
        inset 0 0 4px rgba(tokens.$gb-light-bg, 0.18),
        inset 0 0 5px rgba(tokens.$gb-green, 0.24);
}

.battery__cell--inactive {
    background-color: tokens.$gb-light-bg;
    border-color: rgba(tokens.$gb-bg-hard, 0.2);
    box-shadow:
        inset 0 2px 2px rgba(tokens.$gb-fg, 0.26),
        inset 0 -3px 4px rgba(tokens.$gb-bg-hard, 0.32);
}

.battery__status {
    margin-top: 1px;
}

.battery__status-icon {
    color: tokens.$gb-fg-muted;
}

.battery__status-icon--charging {
    color: tokens.$gb-green;
}

.battery__status-icon--discharging {
    color: tokens.$gb-orange;
}

.battery__percent {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.2px;
}
