@use "./styles/tokens" as tokens;
@use "./styles/bar" as bar;
@use "./widget/clock/style" as clock;
@use "./widget/date/style" as date;
@use "./widget/battery/style" as battery;
@use "./widget/power-actions/style" as powerActions;
@use "./widget/display/style" as display;
@use "./widget/volume/style" as volume;

// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};

// * {
//     all: unset;
// }

.tile {
    min-width: tokens.$tile-unit;
    min-height: tokens.$tile-unit;
    border-radius: 9px;
}

.tile--square {
    min-width: tokens.$tile-unit;
    min-height: tokens.$tile-unit;
}

.tile--horizontal {
    min-width: tokens.$tile-unit * 2 + tokens.$tile-gutter;
    min-height: tokens.$tile-unit;
}

.tile--vertical {
    min-width: tokens.$tile-unit;
    min-height: tokens.$tile-unit * 2 + tokens.$tile-gutter;
}

.tile--dark {
    background-color: tokens.$gb-bg;
    color: tokens.$gb-fg;
}

.tile--dark image {
    color: tokens.$gb-fg;
    -gtk-icon-shadow: none;
}

.tile--light {
    background-color: tokens.$gb-light-bg;
    color: tokens.$gb-light-fg;
}

.tile--light image {
    color: tokens.$gb-light-fg;
    -gtk-icon-shadow: none;
}
